<!DOCTYPE html>
<html>
    <head>
        <title>My first website!</title>
    </head>
    <body>
        <h1>This is h1</h1>
        <h2>This is h2</h2>
        <h3>This is h3</h3>

        <p> <em><strong>Lorem, ipsum </strong></em>dolor sit amet consectetur adipisicing elit. Obcaecati dolor eos facere, eaque dolore, repellat provident enim nulla nihil sapiente earum debitis, laudantium laborum rem at repudiandae quia animi laboriosam. </p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis dolorum quibusdam sit quam voluptate error, quos quod ratione possimus vel sunt! Porro tempora eius quo blanditiis ullam fuga fugiat sequi.</p>

        <ul>
            <li>Banana</li>
            <li>Apple</li>
                <ul>
                    <li>fuji</li><hr>
                    <img src="https://ipcdn.freshop.com/resize?url=https://images.freshop.com/00000000041317/df6c17253bfabeba3844432d41fdc079_large.png&width=512&type=webp&quality=90" alt="fuji apple" width="42" height="42">
                    <li>honey crisp</li>
                    <img src="https://images.albertsons-media.com/is/image/ABS/184020020?$ng-ecom-pdp-desktop$&defaultImage=Not_Available" alt="honey crisp apple" width="42" height="42">
                </ul>
            <li>Orange</li>
        </ul>

    </body>
</html>